<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem
            id="menus_hospital_root"
            name="Hospital"
            sequence="0"/>

        <menuitem
        id="menu_patient_details"
        name="Patient Details"
        parent="menus_hospital_root"
        sequence="0"/>

    </data>
</odoo>